<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Koel Suite">
    <parameter name="BaseURL" value="https://qa.koel.app/"/>
    <test name="Homepage Tests" preserve-order="true">
        <classes>
            <class name="LoginTests"/>
            <class name="POM.Koel_Homepage"/>
        </classes>
    </test>
</suite>